{% extends 'base.html.twig' %}

{% block title %}Planques index{% endblock %}

{% block body %}
    <h1>Planques index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CodeName</th>
                <th>Adress</th>
                <th>Country</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for planque in planques %}
            <tr>
                <td>{{ planque.id }}</td>
                <td>{{ planque.codeName }}</td>
                <td>{{ planque.adress }}</td>
                <td>{{ planque.country }}</td>
                <td>{{ planque.type }}</td>
                <td>
                    <a href="{{ path('planques_show', {'id': planque.id}) }}">show</a>
                    <a href="{{ path('planques_edit', {'id': planque.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('planques_new') }}">Create new</a>
{% endblock %}
